{% extends "base.html" %}

{% block titulo %}
Historial
{% endblock %}


{% block contenido %}

<div class="titulo-pagina">

    <div>

        <h1>
            Historial de Cotizaciones
        </h1>

        <p>
            Consulta todas las cotizaciones guardadas.
        </p>

    </div>


    <a
        href="/nueva-cotizacion"
        class="boton boton-principal">

        + Nueva Cotización

    </a>

</div>


<section class="panel">


{% if cotizaciones %}


<div class="tabla-contenedor">

<table>

    <thead>

        <tr>

            <th>Número</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Subtotal</th>
            <th>Descuento</th>
            <th>Total</th>
            <th>Acciones</th>

        </tr>

    </thead>


    <tbody>

        {% for cotizacion in cotizaciones %}

        <tr>

            <td>
                <strong>
                    {{ cotizacion["numero"] }}
                </strong>
            </td>

            <td>
                {{ cotizacion["cliente_nombre"] }}
            </td>

            <td>
                {{ cotizacion["fecha"] }}
            </td>

            <td>
                Bs {{ "%.2f"|format(cotizacion["subtotal"]) }}
            </td>

            <td>
                Bs {{ "%.2f"|format(cotizacion["descuento"]) }}
            </td>

            <td>
                <strong>
                    Bs {{ "%.2f"|format(cotizacion["total"]) }}
                </strong>
            </td>

            <td>

                <a
                    href="/cotizacion/{{ cotizacion['id'] }}"
                    class="boton-pequeno">

                    Ver

                </a>


                <a
                    href="/eliminar-cotizacion/{{ cotizacion['id'] }}"
                    class="boton-eliminar"
                    onclick="return confirm('¿Eliminar esta cotización?')">

                    Eliminar

                </a>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

</div>


{% else %}

<div class="vacio">

    <h2>
        No hay cotizaciones.
    </h2>

    <p>
        Crea tu primera cotización.
    </p>


    <a
        href="/nueva-cotizacion"
        class="boton boton-principal">

        Crear Cotización

    </a>

</div>

{% endif %}


</section>

{% endblock %}