{% extends "base.html" %}

{% block titulo %}
Editar Producto
{% endblock %}


{% block contenido %}

<div class="titulo-pagina">

    <div>

        <h1>
            Editar Producto
        </h1>

        <p>
            Modifica los datos del producto.
        </p>

    </div>

</div>


<section class="panel">

    <form
        action="/editar-producto/{{ producto['id'] }}"
        method="POST"
        class="formulario"
    >


        <div class="campo">

            <label>
                Producto
            </label>

            <input
                type="text"
                name="nombre"
                value="{{ producto['nombre'] }}"
                required
            >

        </div>


        <div class="campo">

            <label>
                Descripción
            </label>

            <input
                type="text"
                name="descripcion"
                value="{{ producto['descripcion'] }}"
            >

        </div>


        <div class="campo">

            <label>
                Precio
            </label>

            <input
                type="number"
                name="precio"
                value="{{ producto['precio'] }}"
                min="0"
                step="0.01"
                required
            >

        </div>


        <div class="acciones">

            <button
                type="submit"
                class="boton boton-principal">

                Guardar cambios

            </button>


            <a
                href="/productos"
                class="boton boton-secundario">

                Cancelar

            </a>

        </div>

    </form>

</section>

{% endblock %}